/* Resret CSS*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Här börjar stylingen*/

/*
    Colors on the site: 
    #f1f1f1
    #272727
    #d8d8d8
    */

    

#container {
    
    width: 800px;
    margin: 0 auto;
    background-color: #f1f1f1;
    font-family: "Cinzel", "Helvetica", serif;
    font-size: 1em;
    line-height: 130%;
    text-align: left;
}

#header {
    
    min-height: 200px;
    background-color: #000000;
    color: white;
    background-image: url(pics/nykurslogga.png);
    background-repeat: no-repeat;
    background-position: center;
}

#navigation {
    
    width: 190px;
    float: left;
    background-color: #f1f1f1;
    
}

#content {
    
    width: 600px;
    float: left;
    min-height: 800px;
    padding: 5px;
    background-color: #f1f1f1;
    line-height: 120%;
}

#footer {
    
    
    min-height: 100px;
    clear: both;
    background-color: #d8d8d8;
}


#mainmenu {
    
    
    border: 1px solid black;
    border-bottom: none;
}

#mainmenu li {
    
    border-bottom: 1px solid black;
}


#mainmenu a {
    
   text-decoration: none;
   display: block;
   padding: 10px;
   color: #0e0e0e;
}


#mainmenu a:hover {
    
   /* exchange color and backgroundcolor*/
   background-color: #8d8d8d;
   color: white;
}

#mainmenu .active{
    
   /* change color and backgroundcolor*/
   background-color: #d8d8d8;
}



#content h2, h3 {
    
    padding: 20px;
}

#content p {
    
    padding-top: 10px;
}

#footer p {
    
    display: inline;
    padding-left: 5px;
    padding-top: 30px;
}

table {
    
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

table td {
    
   border: 1px solid black;
    
}

h1 {
    
    font-family: "Cinzel", "Helvetica", serif;
    font-size: 1.7em;
    text-align: left;
    padding: 20px;
    
}


h2 {
    
    font-family: "Cinzel", "Helvetica", serif;
    font-size: 1.4em;
   
}

h3 {
    
   font-family: "Cinzel", "Helvetica", serif;
    font-size: 1.2em;
}

a {
    
    color: blue;
    text-decoration: none;
}

a:hover{
    
    color: yellow;
    text-decoration: underline;
}

#container p {
    
    max-width: 50em;
}


.bloggtext {
    
    margin-bottom: 60px;
}

#videobunny {
    
    max-width: 550px;
}

/* pics */


.staricon {
    
    background-image: url(pics/staricon.png);
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 60px;
    
}

.left {
    
    float: left;
    padding-right: 7px;
}

.right {
    
    float: right;
    padding-left: 7px;
}